body{
    background-color:white;
    margin: 0;
    padding: 0;
}
nav{
    background-color: white;
    position: fixed;
    top: 0;
    font-size: 18px;
    width: 100%;
    border-bottom: 1px solid #ddd;
}
ul{
    margin: 0;
    padding: 8px;
}
nav img{
    width: 150px;
    display: inline;
}
li{
    padding: 10px;
    display: inline-block; 
}
li a{
    display: block;
    text-align: center;
    text-decoration: none;
}
